<section id="isso-thread"></section>
<script
  data-isso="//comments.ssdh233.me/"
  data-isso-avatar="false"
  data-isso-reply-notifications="true"
  src="//comments.ssdh233.me/js/embed.min.js"
></script>
<script>
  window.onload = () => {
    const notifyLabelEl = document.querySelector(
      "#isso-thread > div.isso-postbox > div > section.notification-section > label"
    );
    notifyLabelEl.removeChild(notifyLabelEl.firstChild);
    notifyLabelEl.firstChild.className = "";
    notifyLabelEl.firstChild.checked = true;

    addEmoji();

    Array.from(
      document.querySelectorAll("div.isso-comment-footer > a.reply")
    ).forEach((replyEl) => {
      replyEl.onclick = () => {
        addEmoji();
        Array.from(
          document.querySelectorAll(
            "section.notification-section input[type=checkbox]"
          )
        ).forEach((notifyBoxEl) => {
          notifyBoxEl.checked = true;
        });
      };
    });
  };

  function addEmoji() {
    Array.from(document.querySelectorAll(".isso-postbox .textarea")).forEach(
      (textareaEl) => {
        if (textareaEl.classList.contains("withEmoji")) {
          return;
        }
        ["🌹", "🥀", "🌷", "🌺", "💥", "🔥", "💣", "🦍", "💧", "†"]
          .reverse()
          .forEach((icon) => {
            const EmojiButton = document.createElement("button");
            const EmojiButtonText = document.createTextNode(icon);
            EmojiButton.appendChild(EmojiButtonText);
            EmojiButton.className = "emojiButton";
            EmojiButton.onclick = () => {
              if (
                textareaEl.textContent ===
                "Type Comment Here (at least 3 chars)"
              ) {
                textareaEl.classList.remove("placeholder");
                textareaEl.textContent = icon;
              } else {
                textareaEl.textContent += icon;
              }
            };

            textareaEl.classList.add("withEmoji");
            textareaEl.parentElement.prepend(EmojiButton);
          });
      }
    );
  }
</script>
