<footer class="site-footer">

  <div class="wrapper">

    <hr />
    <div class="footer-link">
      {% if site.author.facebook %}
      <a href="https://www.facebook.com/{{ site.author.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      {% endif %}

      {% if site.author.twitter %}
      <a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      {% endif %}

      {% if site.author.bilibili %}
      <a href="https://space.bilibili.com/{{ site.author.bilibili }}"><i class="fa fa-play-circle"></i></a>
      {% endif %}

      {% if site.author.github %}
      <a href="https://github.com/{{ site.author.github }}"><i class="fa fa-github" aria-hidden="true"></i></a>
      {% endif %}

      {% if site.author.email %}
      <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      {% endif %}

      <a href="/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>

    </div>
    © 2016 {{ site.author.name }}. All rights reserved.

  </div>

</footer>
