/**
 * Site header
 */
.site-header {
  min-height: 56px;
  padding: 10px 0;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: 0px;
  margin-left: 15px;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  text-align: center;
  font-size: 13px;

  i {
    font-size: 20px;
  }
  a {
    color: $base-color;
    margin: 4px;
  }

  .footer-link {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-list-item {
  padding: 30px 0px 30px 15px;
  
  &:hover {
    background-color: #f5f7f9;
    border-color: transparent;
    border-radius: 10px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;

  a {
    color: $grey-color;
  }

  &-date {
    margin: 0 15px 0 0;
  }

  .tags {
    margin: 0 3px;
  }
}

.post-link-title {
  display: block;
  color: rgba(51,51,51,0.8);
  font-weight: 400;
  font-size: 24px;
}

.list-post-desc {
  color: rgba(102,102,102,0.8);
  margin-bottom: 10px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-tag {
  .tag {
    display: inline-block;
    margin: 4px;
    padding: 4px 7px;
    margin-left: 0px;
    color: #fff;
    background-color: $tag-base-color;
    text-decoration: none;
    border-radius: 3px;
  }

  ul {
    margin-left: 0;
  }
  
  li {
      font-size: .75rem;
      display: inline;
      list-style-type: none;
      text-transform: lowercase;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  font-size: 15px;
  font-weight: 300;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

hr {
  width: 740px;
  margin: auto;
}

/*--------------
  Tags
  -------------- */
.tag-lists {
  margin-left: 0;
}

.tag-index {
  font-size: .75rem;
  display: inline;

  list-style-type: none;
  text-transform: lowercase;

  a {
    display: inline-block;
    margin: 1px 4px;
    color: #fff;
    background-color: $tag-base-color;
    border-radius: 3px;
    span {
      float: left;
      padding: 4px 7px;
    }
    .count {
      background-color: $tag-base-color;
      border-radius: 0 3px 3px 0;
    }
    &:hover {
      background-color: $tag-base-color;
    }
  }
}

.tag-title {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 1rem;
}

.tag-post {
  a {
    color: $base-color;

    &:hover {
      color: rgba(#333,0.8);;
      text-decoration: none;
      border-color: transparent;
    }
  }
}

/*--------------
  Categories
  -------------- */
.category-list-item {
  padding: 30px 0px 30px 15px;
  
  &:hover {
    background-color: #f5f7f9;
    border-color: transparent;
    border-radius: 10px;
  }
}

.category-title {
  display: block;
  color: rgba(51,51,51,0.8);
  font-weight: 400;
  font-size: 24px;
}

.category-desc {
  color: rgba(102,102,102,0.8);
  margin-bottom: 10px;
}

/*--------------
  gsv
  -------------- */
.gsv-title {
  font-size: 200%;
  font-family: Andada;
  font-weight: bold;
}

/*--------------
  ping icon
  -------------- */
.fixed-icon {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}