#isso-thread {
  margin-bottom: 150px !important;
}

.textarea-wrapper > div {
  background-color: rgba(0, 0, 0, 0) !important;
}

.input-wrapper > input {
  background-color: rgba(0, 0, 0, 0) !important;;
}

.post-action > input {
  background-color: rgba(0, 0, 0, 0) !important;;
}

