#isso-thread {
  margin-bottom: 150px !important;
}

.textarea-wrapper > div {
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--text-color) !important;
  border-color: var(--input-focus-border-color) !important;
}

.textarea-wrapper > .textarea.withEmoji {
  margin-top: 4px !important;
}

.input-wrapper > input {
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--text-color) !important;
  border-color: var(--input-focus-border-color) !important;
}

.post-action > input {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: var(--btn-border-color) !important;
  color: var(--btn-text-color) !important;
}

.emojiButton {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
